@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inner-circles-loader {
  transform: translate3d(0, 0, 0);
  /* Hides inner circles outside base circle at safari */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
